# The menu of the SkarletOS Linux ISO.  "boot=live" makes the live-boot
# initramfs find /live/filesystem.squashfs on the disc and start from it.
set default=0
set timeout=3
insmod all_video
insmod gfxterm
set gfxmode=auto
terminal_output gfxterm

menuentry "SkarletOS (Debian 13 live)" {
    linux /live/vmlinuz boot=live systemd.hostname=skarlet quiet console=tty0 console=ttyS0,115200
    initrd /live/initrd.img
}
menuentry "SkarletOS (safe graphics)" {
    linux /live/vmlinuz boot=live systemd.hostname=skarlet nomodeset console=tty0 console=ttyS0,115200
    initrd /live/initrd.img
}
menuentry "SkarletOS (copy to RAM, then the disc can be removed)" {
    linux /live/vmlinuz boot=live systemd.hostname=skarlet toram quiet console=tty0 console=ttyS0,115200
    initrd /live/initrd.img
}
